a.site-colophon {
  text-decoration: unset !important;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
a.site-colophon span {
  text-decoration: underline;
  text-decoration-thickness: 2px !important;
}
a.site-colophon:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 2px !important;
  text-decoration-color: #5ac8fa !important;
  color: #fff !important;
}
a.site-colophon:hover span {
  text-decoration-color: #5ac8fa !important;
}

nav.footer-menu .menu-item a {
  color: #fff !important;
}
nav.footer-menu .menu-item a:hover {
  text-decoration: underline !important;
  color: #fff !important;
  text-decoration-color: #5ac8fa !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 3px !important;
}
nav.footer-menu .menu-item.current-menu-item a {
  text-decoration: underline !important;
  text-decoration-color: #fff !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: initial !important;
}

.blogElement .fusion-post-wrapper {
  border-radius: 20px;
  overflow: hidden;
  border: 4px solid #fff !important;
}
.blogElement .fusion-post-wrapper h3 {
  font-size: 24px !important;
}

.fusion-body .fusion-meta-tb {
  border-radius: 12px !important;
}
.fusion-body .fusion-meta-tb a:hover {
  color: #fff !important;
  text-decoration-color: #5ac8fa !important;
}

.layout-preview .fusion-pagination-preview-wrapper {
  overflow: hidden !important;
}
.layout-preview .fusion-pagination-preview-wrapper .fusion-item-title {
  white-space: normal !important;
}

.layout-preview.position-bottom .fusion-pagination-preview-wrapper {
  border-radius: 0 0 12px 12px !important;
}

.layout-preview.position-top .fusion-pagination-preview-wrapper {
  border-radius: 12px 12px 0 0 !important;
}

.fusion-page-title-bar .fusion-breadcrumbs a {
  text-decoration-color: #5ac8fa !important;
}
.fusion-page-title-bar .fusion-breadcrumbs a:hover {
  color: #fff !important;
}
.fusion-page-title-bar .fusion-breadcrumbs .breadcrumb_last {
  color: #fff !important;
}

.fusion-recent-posts .flexslider .slides {
  border-radius: 12px;
}

.fusion-post-medium .flexslider .slides {
  border-radius: 16px !important;
}

.single-post .post .fusion-imageframe {
  border-radius: 16px !important;
}

input,
textarea {
  border-color: #819dad !important;
  color: #0a0a0a !important;
}

.commentsElement #comment-input input#url {
  display: none !important;
  visibility: hidden !important;
}
.commentsElement .form-submit input#comment-submit {
  background: #819dad !important;
  color: #fff !important;
}
.commentsElement .form-submit input#comment-submit:hover {
  background: #fffeb3 !important;
  border-color: #819dad !important;
  color: #0a0a0a !important;
}

.grid-gallery-cards .fusion-gallery-image {
  border-radius: 16px 16px 0 0;
}
.grid-gallery-cards .fusion-gallery-image,
.grid-gallery-cards .awb-imageframe-caption {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.grid-gallery-cards .awb-imageframe-caption {
  background: #fff;
  border-radius: 0 0 16px 16px;
  padding: 16px;
}

.ilightbox-holder,
.ilightbox-holder .ilightbox-container,
.ilightbox-holder .ilightbox-container .ilightbox-caption,
.ilightbox-holder .ilightbox-container .ilightbox-social,
.ilightbox-holder .ilightbox-container .ilightbox-social *,
.ilightbox-holder .ilightbox-container img.ilightbox-image,
.ilightbox-loader,
.ilightbox-loader *,
.ilightbox-overlay,
.ilightbox-thumbnails,
.ilightbox-thumbnails *,
.ilightbox-toolbar,
.ilightbox-toolbar * {
  -webkit-touch-callout: default !important;
  user-select: auto !important;
  -webkit-user-select: auto !important;
}

.tribe-common .tribe-common-c-btn-border-small,
.tribe-common a.tribe-common-c-btn-border-small {
  border: 2px solid #1779ba !important;
  border-radius: 8px !important;
}

.single-tribe_events main .sidebar {
  border-radius: 16px !important;
}
.single-tribe_events main .sidebar .tribe-events-single-section-title {
  color: #0a0a0a !important;
  border-radius: 8px !important;
  background-color: #fff !important;
}
.single-tribe_events main .sidebar dl {
  color: #fff !important;
}

.tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button {
  background: #1779ba !important;
  border-radius: 12px !important;
  color: #fff !important;
  border: 2px solid #1779ba !important;
}
.tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button:hover, .tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button:focus {
  background: #5ac8fa !important;
  border-color: #fff !important;
}

.tribe-events-c-subscribe-dropdown__list {
  border-radius: 12px !important;
}

.tribe-events-c-subscribe-dropdown__list-item {
  border-radius: 8px !important;
}
.tribe-events-c-subscribe-dropdown__list-item:hover {
  background-color: #1779ba !important;
  color: #fff !important;
  text-decoration: underline !important;
}

.tribe-events-event-url a:hover,
a.tribe-events-gmap:hover {
  color: #5ac8fa !important;
}

#tribe-events-content #tribe-events-footer {
  border-color: #819dad !important;
}

.tribe-events-content {
  hyphens: auto !important;
}

.tribe-events-event-meta {
  color: #fff !important;
}

.single-tribe_events .tribe-events-schedule h3 {
  white-space: unset !important;
}

.fusion-events-featured-image,
.fusion-theme-sharing-box.fusion-sharing-box,
.tribe-events-calendar-list__event-featured-image-link {
  border-radius: 16px !important;
  overflow: hidden !important;
}

.tribe-events .tribe-events-calendar-list-nav {
  border-top: 4px solid #819dad !important;
}

.tribe-events .tribe-events-calendar-list__month-separator:after {
  height: 4px !important;
  border-radius: 4px !important;
  background-color: #819dad !important;
}

.tribe-events .tribe-events-calendar-list__event-row--featured .tribe-events-calendar-list__event-date-tag-datetime:after {
  width: 4px !important;
}

.longWord,
.longWord * {
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

a[href^=tel] {
  color: inherit !important;
}
