// Style all tel: links to match the site's default link styles
// This is specific for iOS bc phone sniffing otherwise turns phone numbers blue
a[href^='tel'] {
	color: inherit !important; // Inherit text color of parent element
}

.text-shadow,
.text-shadow * {
	text-shadow: 0 0 5px #000 !important;
}
