input,
textarea {
	color: $black !important;
}

.commentsElement {
	#comment-input {
		input#url {
			display: none !important;
			visibility: hidden !important;
		}
	}

	.form-submit {
		input#comment-submit {
			background: $cremefraiche !important;
			color: $black !important;
			border-color: $darkolive !important;

			&:hover {
				background: $darkolive !important;
				border-color: $white !important;
				color: $white !important;
			}
		}
	}
}
