input,
textarea {
	border-color: $jdfblue !important;
	color: $black !important;
}

.commentsElement {
	// textarea {
	// 	border-color: $jdfblue !important;
	// 	color: $black !important;
	// }

	#comment-input {
		// input {
		// 	border-color: $jdfblue !important;
		// 	color: $black !important;
		// }

		input#url {
			display: none !important;
			visibility: hidden !important;
		}
	}

	.form-submit {
		input#comment-submit {
			background: $jdfblue !important;
			color: $white !important;

			&:hover {
				background: $yellow !important;
				border-color: $jdfblue !important;
				color: $black !important;
			}
		}
	}
}
