// <footer> SNC site colophon
a.site-colophon {
	text-decoration: unset !important;
	text-transform: uppercase;
	letter-spacing: 1.5px;

	span {
		text-decoration: underline;
		text-decoration-thickness: 2px !important;
	}

	&:hover {
		text-decoration: underline !important;
		text-decoration-thickness: 2px !important;
		text-decoration-color: $breadcrumbblue !important;
		color: $white !important;

		span {
			text-decoration-color: $breadcrumbblue !important;
		}
	}
}

nav.footer-menu {
	.menu-item {
		a {
			color: $white !important;

			&:hover {
				text-decoration: underline !important;
				color: $white !important;
				text-decoration-color: $breadcrumbblue !important;
				text-decoration-thickness: 2px !important;
				text-underline-offset: 3px !important;
			}
		}
	}

	.menu-item.current-menu-item {
		a {
			text-decoration: underline !important;
			text-decoration-color: $white !important;
			text-decoration-thickness: 2px !important;
			text-underline-offset: initial !important;
		}
	}
}

