// The "Today" button at the top of the main events listing page

//  ,(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((*
// ,(/                                                                               ,(/
// ((                                                                                 .(.
// ((                                                                                 .(,
// ((                                                                                 .(,
// ((                ....... ..                  .                                    .(,
// ((                    *(                     .(,                                   .(,
// ((                    *(     /((/((/    (((/(((*  /((/((, .(/    ((                .(,
// ((                    *(    (*     *(. ((    .(,   .,*/((   (*  ((                 .(,
// ((                    *(    ((     ((  ((    ,(* ,(.   ((   .(*((                  .(,
// ((                    *(      /(((/     .(((/.(*  ,(((,*(     ((                   .(,
// ((                                                         ,*((                    .(,
// ((                                                                                 .(,
// ((                                                                                 .(,
// ((                                                                                 *(.
// ((.                                                                              ((,
//   .(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((*
.tribe-common .tribe-common-c-btn-border-small,
.tribe-common a.tribe-common-c-btn-border-small {
	border: 2px solid $linkblue !important;
	border-radius: $globalradius*.5 !important;
}

// Sidebar on single event page that contains Details/Organizers,etc
.single-tribe_events main .sidebar {
	border-radius: $globalradius !important;

	// "Details" / "Organizer" / "Venue" headings within the event page sidebar
	.tribe-events-single-section-title {
		color: $black !important;
		border-radius: $globalradius*.5 !important;
		background-color: $white !important;
	}

	// The text within the single event page sidebar
	dl {
		color: $white !important;
	}
}

// Main "Add to Calendar" button on single event page
// Main "Subscribe to Calendar" button on event listings page
.tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button {
	background: $linkblue !important;
	border-radius: $globalradius*.75 !important;
	color: $white !important;
	border: 2px solid $linkblue !important;

	&:hover,
	&:focus {
		background: $breadcrumbblue !important;
		border-color: $white !important;
	}
}

// Dropdown list of calendar types that appears after clicking "Add/Subscribe to Calendar" button
.tribe-events-c-subscribe-dropdown__list {
	border-radius: $globalradius*.75 !important;
}

// The invidual calendar options within the calendar type dropdown list
.tribe-events-c-subscribe-dropdown__list-item {
	border-radius: $globalradius*.5 !important;

	&:hover {
		background-color: $linkblue !important;
		color: $white !important;
		text-decoration: underline !important;
	}
}

// Hyperlinks within the event page Sidebar, including "Google Maps" link
.tribe-events-event-url a,
a.tribe-events-gmap {
	&:hover {
		color: $breadcrumbblue !important;
	}
}

// The thin border above and below the previous/next event links at the bottom of the event page
#tribe-events-content #tribe-events-footer {
	border-color: $jdfblue !important;
}

// Allow all text on a single event page to break and wrap with hyphens (headings, links, and body text)
// Specify this bc vanilla styling has event titles going straight offscreen on mobile and overflow:hidden is set on the <body>
.tribe-events-content {
	hyphens: auto !important;
}

// Make text in sidebar of event page white
.tribe-events-event-meta {
	color: #fff !important;
}

// Allow the event's date & time to break lines on mobile
// Like with event titles, vanilla styles has it going offscreen
.single-tribe_events .tribe-events-schedule h3 {
	white-space: unset !important;
}
// main feature image on an event page
.fusion-events-featured-image,
// the div at the end of an event page with the social sharing buttons
.fusion-theme-sharing-box.fusion-sharing-box,
// the feature image of an event on the main event listings page
.tribe-events-calendar-list__event-featured-image-link {
	border-radius: $globalradius !important;
	overflow: hidden !important;
}

// The div with "Previous/Next Events" at the bottom of the main events listing page
.tribe-events .tribe-events-calendar-list-nav {
	border-top: 4px solid $jdfblue !important;
}

// The separator of a new month on the main events listing page
.tribe-events .tribe-events-calendar-list__month-separator:after {
	height: 4px !important;
	border-radius: 4px !important;
	background-color: $jdfblue !important;
}

// The vertical blue line next to a featured event on the main events listing page
.tribe-events .tribe-events-calendar-list__event-row--featured .tribe-events-calendar-list__event-date-tag-datetime:after {
	width: 4px !important;
}
