.tribe-events .tribe-events-calendar-list__month-separator:after {
	background-color: $jdfblue !important;
}

.tribe-common .tribe-common-c-btn-border-small,
.tribe-common a.tribe-common-c-btn-border-small {
	border: 2px solid $breadcrumbblue !important;
	border-radius: 8px !important;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
	padding-top: 0 !important;
}

.single-tribe_events main .fusion-content-widget-area .tribe-events-single-section-title {
	color: $black !important;
}

.single-tribe_events main .fusion-content-widget-area .tribe-events-single-section-title,
.single-tribe_events main .fusion-content-widget-area .tribe-events-tickets-title,
.single-tribe_events main .fusion-content-widget-area .widget .heading h4,
.single-tribe_events main .fusion-content-widget-area .widget .widget-title {
	color: $black !important;
	border-radius: 8px !important;
	background-color: #f1f1f1 !important;
}

.avada-ec-not-100-width.avada-ec-meta-layout-sidebar.single-tribe_events #main .sidebar {
	border-radius: 16px !important;
}

.single-tribe_events .tribe-events-event-meta dl {
	color: $white !important;
}

.tribe-common-c-btn-border.tribe-events-c-subscribe-dropdown__button {
	background: $linkblue !important;
	border-radius: $globalRadius !important;
	color: $white !important;
	border: 2px solid $linkblue !important;

	&:hover,
	&:focus {
		background: $breadcrumbblue !important;
		border-color: $white !important;
	}
}

.tribe-events-c-subscribe-dropdown__list {
	border-radius: 12px !important;
}

.tribe-events-c-subscribe-dropdown__list-item {
	border-radius: 8px !important;

	&:hover {
		background-color: $linkblue !important;
		color: $white !important;
		text-decoration: underline !important;
	}
}

.tribe-events-event-url a,
a.tribe-events-gmap {
	&:hover {
		color: $breadcrumbblue !important;
	}
}

#tribe-events-content #tribe-events-footer {
	border-color: $jdfblue !important;
}

.single-tribe_events .tribe-events-schedule h3 {
	white-space: unset !important;
}

.tribe-events-content {
	hyphens: auto !important;
}

.fusion-events-featured-image,
.fusion-theme-sharing-box.fusion-sharing-box,
.tribe-events-calendar-list__event-featured-image-link {
	border-radius: 16px !important;
	overflow: hidden !important;
}

.tribe-events .tribe-events-calendar-list-nav {
	border-top: 4px solid $jdfblue !important;
}

.tribe-events .tribe-events-calendar-list__month-separator:after {
	height: 4px !important;
	border-radius: 4px !important;
}

.tribe-events .tribe-events-calendar-list__event-row--featured .tribe-events-calendar-list__event-date-tag-datetime:after {
	width: 4px !important;
}
